.wrapper {
  position: relative;
  z-index: 4;
  background-color: #fefefe;
  background-size: cover;
  padding-top: 2rem;
  min-height: 20%;
  box-shadow: inset 0 0 2rem #fefefe;
  font-size: 2.5rem;

  a {
    color: #fefefe;
    box-shadow: 0.2rem 0.2rem 1.2rem #6c0b6c, inset 0.2rem 0.2rem 1.2rem #cb6464;
    border-radius: 0.42rem;
    font-size: 2.42rem;
    background: rgba(202, 91, 255, 0.25);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1.42rem 2rem;
  }

  a:visited {
    color: #fefebe;
  }

  a:hover, a:focus {
    text-decoration: none;
    background: rgba(202, 91, 255, 0.64);

  }

}

.flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row-reverse;
  li {
    flex: 1;
    padding: 2rem;

    &:hover {
      .logo_wrapper {
        outline: none;
        box-shadow: none;
        border: none;
        background: none;
        opacity: 1;
        filter: invert(0);
      }
    }
  }
}

.sun_spirit_side {
  text-align: right;
  flex: .87 !important;
}

.logo_wrapper {
  opacity: .12;
  filter: invert(100%);
  transition: all .42s cubic-bezier(0.42, 1.08, 0.87, -0.22);
  padding-top: 3.2rem;

}

.link_icon {
  height: 9rem;
  position: relative;
  margin-right: 2rem;
}

.rodnya {
  border-radius: .42rem;
}

.logo_wrapper {
  display: block;
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

@media screen and (orientation: portrait) {
  .flex {
    display: block;
  }
}