.wrapper {
  position: relative;
  z-index: 4;
  background-color: #fefefe;
  background-size: cover;
  padding: 2rem;
  min-height: 20%;
  box-shadow: 0 0 2rem #fefefe;
  font-size: 2.5rem;
}
.flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.right {
  text-align: right;
}

.wrapper a {
  color: #42b5fe;
  text-shadow: .2rem .1rem .1rem rgba(4, 4, 4, 0.6);
}