.wrapper {
  height: 58%;
  position: relative;
  display: flex;
  background: #FEFEFE;
  align-items: stretch;
  transition: all .42s ease-in;
  justify-content: space-between;
}



.loaded_wrapper {
  composes: wrapper;
  height: 86%;
}



@media screen and (orientation: portrait) {
  .wrapper {
    flex-direction: column-reverse;
  }
}