.wrapper {
  height: 58%;
  position: relative;
  display: flex;
  background: #FEFEFE;
  align-items: stretch;
  justify-content: space-between;
}

@media screen and (orientation: portrait) {
  .wrapper {
    flex-direction: column;
  }
}