.wrapper {
  height: 58%;
  position: relative;
  display: flex;
  background: #FEFEFE;
  align-items: stretch;
  transition: all .42s ease-in;
  justify-content: space-between;
  overflow: hidden;
}

.wrapper:after {
  position: absolute;
  left: -2rem;
  bottom: -2rem;
  width: 120%;
  height: 4.2rem;
  background: linear-gradient(0deg, rgba(17, 17, 17, 0.8), rgba(255, 255, 255, 0.42));
  filter: blur(3px);
  content: "";
}



.loaded_wrapper {
  composes: wrapper;
  height: 86%;
}



@media screen and (orientation: portrait) {
  .wrapper {
    flex-direction: column-reverse;
  }
}