html {
  font-size: calc(100vw / 120);
}

@media screen and (orientation: portrait) {
  html {
    font-size: calc(100vw / 64);
  }
}

html, body, * {
  font-family: 'Geometria', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #19314c;
  transition: all .12s ease-out;
  font-weight: 600;
  z-index: 2;

}
a:visited {
  color: #3c514a;
}

a:hover, a:focus {
  color: #d3a151;
  text-decoration: underline;
}

a:active {
  color: #aaff02;
}
#page_wrapper, #root {
  height: 100%;
}



* {
  margin: 0;
  padding: 0;
  border: 0 none;
  background: none;
}

ul {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  color: #121212;
}