html {
  font-size: calc(100vw / 120);
}
html, body, * {
  font-family: 'Geometria', sans-serif;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  border: 0 none;
  background: none;
}

ul {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  color: #121212;
}